extends layout
block content
  h1 Raman specra of commonly encountered plastic polymers
  p This website is aimed to make resources useful for the identification and characterization of plastic more accessible. 
  p It provides a database of some of the most commonly encountered plastic polymers: Polyvinyl Chloride (PVC), Polyethylene (PE), Polypropylene (PP), Polyethylene terephthalate (PET) and Nylon 66
  ul
    li>a(href="https://ali-dissertation.netlify.com/PVC") PVC
    li>a(href="https://ali-dissertation.netlify.com/PE") PE
    li>a(href="https://ali-dissertation.netlify.com/PP") PP
    li>a(href="https://ali-dissertation.netlify.com/PET") PET
    li>a(href="https://ali-dissertation.netlify.com/Nylon66") Nylon 66
