extends layout
block content
  h1 Raman specra of commonly encountered plastic polymers
  .box
    p This website aims to provide useful resources for the identification and characterization of plastic polymers. 
    p It provides a database of some of the most commonly encountered plastic polymers: Polyvinyl Chloride (PVC), Polyethylene (PE), Polypropylene (PP), Polyethylene terephthalate (PET) and Nylon 66:
    ul
      li
        a(href="PVC") PVC
      li 
        a(href="PE") PE
      li
        a(href="PP") PP
      li
        a(href="PET") PET
      li
        a(href="Nylon66") Nylon 66
