extends layout
block content
  h1 Raman specra of commonly encountered plastic polymers
  p This website is aimed to make resources useful for the identification and characterization of plastic more accessible. 
  p It provides a database of some of the most commonly encountered plastic polymers: Polyvinyl Chloride (PVC), Polyethylene (PE), Polypropylene (PP), Polyethylene terephthalate (PET) and Nylon 66
  a(href="https://ali-dissertation.netlify.com/pvc") PVC
