doctype html
html
  head
    title= title
    meta(charset=utf-8)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/assets/app.css')
  body
    header
      include header
    #neutralino-app
      block content
    script(src="/neutralino.js")
    script(src="/assets/app.js")
    script(src="https://identity.netlify.com/v1/netlify-identity-widget.js")
    script.
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    footer
      include footer
