extends layout
block content
  li
    a.right(href="https://plastic-polymer-raman.netlify.com/index") HOMEPAGE
  h1 Nylon 66 Raman spectra
    .box
      p The monomer unit of Nylon 66 is characterized by a Carbon-Heteroatom backbone structure and by the presence of methyline, ketone and secondary amide functional groups.
      p Its monomer unit is:
      img(src="/static/images/monomernylon.png")
      p The following spectra was obtained using a Thermofisher Raman microscope with a 50x objective and 532 nm laser.
      p The parameters used were 20 exposures, 1 sec exposures, no photobleaching, fluorescence correction. The spectra was processed using the SpectraGryph 1.2 spectroscopy software.
      img(src="/static/images/spectranylon.png")
      p 
        strong Peaks characterization
      table(border="1")
        tbody
          tr
            td(style='text-align: center;' width='151')
              p
                strong Raman shift [1/cm]
            td(style='text-align: center;' width='442')
              p
                strong Characterization
          tr
            td(style='text-align: center;' width='151')
              p 930
            td(style='text-align: center;' width='442')
              p C-N skeleton stretching vibration
          tr
            td(style='text-align: center;' width='151')
              p 1050
            td(style='text-align: center;' width='442')
              p C-C-C skeletal symmetric and asymmetric stretching vibrations
          tr
            td(style='text-align: center;' width='151')
              p 1165
            td(style='text-align: center;' width='442')
              p C-N skeleton stretching vibration
          tr
            td(style='text-align: center;' width='151')
              p 1270
            td(style='text-align: center;' width='442')
              p CNH stretch-open mode
          tr
            td(style='text-align: center;' width='151')
              p 1305
            td(style='text-align: center;' width='442')
              p C-C-C skeletal symmetric and asymmetric stretching vibrations
          tr
            td(style='text-align: center;' width='151')
              p 1440
            td(style='text-align: center;' width='442')
              p CNH stretch-bend
          tr
            td(style='text-align: center;' width='151')
              p 1630
            td(style='text-align: center;' width='442')
              p Carbonyl C=O stretching
          tr
            td(style='text-align: center;' width='151')
              p 2900
            td(style='text-align: center;' width='442')
              p Methylene C-H symmetric and asymmetric stretching
          tr
            td(style='text-align: center;' width='151')
              p 3290
            td(style='text-align: center;' width='442')
              p Secondary amide N-H stretch
             
      p
          strong Download links
      a.right(href="/static/uploads/HDPE excel compatible data.csv") Download the HDPE Excel-compatible data
      a.right(href="/static/uploads/HDPE spectragryph file.csv") Download the HDPE Spectragryph-compatble file
    .box
      p References
      p Contact: alicedigiuse@gmail.com
  li
    a.right(href="https://plastic-polymer-raman.netlify.com/index") HOMEPAGE


