extends layout
block content
  li
    a.right(href="https://ali-dissertation.netlify.com/index") HOMEPAGE
  h1 PE Raman spectra
    .box
      p The monomer unit of PE is characterized by a Carbon-Carbon backbone structure and by the presence of methylene functional groups.
      p Its monomer unit is:
      img(src="/static/images/monomerpe.png")
      p The following spectra was obtained using a Thermofisher Raman microscope with a 50x objective and 532 nm laser.
      p The parametfers used were 20 exposures, 1 sec exposures, no photobleaching, fluorescence correction. The sample analysed was HDPE plasticle. The spectra was processed using the SpectraGryph 1.2 spectroscopy software.
      P SPECTRA
      p Peaks characterization
      table(border="1")
        tbody
          tr
            td(width='151')
              p
                strong Raman shift [1/cm]
            td(width='442')
              p
                strong Characterization
          tr
            td(width='151')
              p 320
            td(width='442')
              p C-C skeletal vibrations
          tr
            td(width='151')
              p 1050
            td(width='442')
              p C-C-C skeletal symmetric and asymmetric stretching vibrations
          tr
            td(width='151')
              p 1130
            td(width='442')
              p C-C-C skeletal symmetric and asymmetric stretching vibrations
          tr
            td(width='151')
              p 1295
            td(width='442')
              p Methylene C-H twisting vibration
          tr
            td(width='151')
              p 1440
            td(width='442')
              p Methylene C-H scissoring vibration
          tr
            td(width='151')
              p 2860
            td(width='442')
              p Methylene C-H symmetric and asymmetric stretch stretches

