extends layout
block content
  li
    a.right(href="https://plastic-polymer-raman.netlify.com/index") HOMEPAGE
  h1 PET Raman spectra
    .box
      p The monomer unit of PET is characterized by a Carbon-Heteroatom backbone structure and by the presence of esters, phenyl and methylene. [1]
      p Its monomer unit is:
      img(src="/static/images/monomerpet.png")
      p The following spectra was obtained using a Thermofisher Raman microscope with a 50x objective and 532 nm laser.
      p The parameters used were 20 exposures, 1 sec exposures, no photobleaching, fluorescence correction. The spectra was processed using the SpectraGryph 1.2 spectroscopy software.
      img(src="/static/images/spectrapet.png")
      p 
        strong Peaks characterization: [2]
      table(border="1")
        tbody
          tr
            td(style='text-align: center;' width='151')
              p
                strong Raman shift [1/cm]
            td(style='text-align: center;' width='435')
              p
                strong Characterization
          tr
            td(style='text-align: center;' width='151')
              p 625
            td(style='text-align: center;' width='435')
              p C-H bending in para-disubstituted benzene
          tr
            td(style='text-align: center;' width='151')
              p 700
            td(style='text-align: center;' width='435')
              p Out of plane benzene C-H bending
          tr
            td(style='text-align: center;' width='151')
              p 790
            td(style='text-align: center;' width='435')
              p O-C=O in plane deformations
          tr
            td(style='text-align: center;' width='151')
              p 1100
            td(style='text-align: center;' width='435')
              p C-O stretching
          tr
            td(style='text-align: center;' width='151')
              p 1170
            td(style='text-align: center;' width='435')
              p C-C skeletal vibrations
          tr
            td(style='text-align: center;' width='151')
              p 1280
            td(style='text-align: center;' width='435')
              p C-O stretching
          tr
            td(style='text-align: center;' width='151')
              p 1450
            td(style='text-align: center;' width='435')
              p Methylene C-H scissoring vibration
          tr
            td(style='text-align: center;' width='151')
              p 1600
            td(style='text-align: center;' width='435')
              p C=C-H stretching
          tr
            td(style='text-align: center;' width='151')
              p 1715
            td(style='text-align: center;' width='435')
              p C=O stretching
          tr
            td(style='text-align: center;' width='151')
              p 2925
            td(style='text-align: center;' width='435')
              p Methylene C-H stretching
          tr
            td(style='text-align: center;' width='151')
              p 3080
            td(style='text-align: center;' width='435')
              p Aromatic C-H stretchingh
             
      p
          strong Download links
      a.right(href="/static/uploads/PET excel compatible data.csv") Download the PET Excel-compatible data
      p  
      a.right(href="/static/uploads/PET spectragryph file.csv") Download the PET Spectragryph-compatible file
    .box
      p References:
      p [1] B. Gewert, M. M. Plassmann and M. Macleod, Environ. Sci. Process. Impacts, 2015, 17, 1513–1521
      p [2] A. Di Giuseppe, Bsc thesis, University of Surrey, 2020
      p Contact: alicedigiuse@gmail.com
  li
    a.right(href="https://plastic-polymer-raman.netlify.com/index") HOMEPAGE
    
    
    
    
    
    
    
    
