extends layout
block content
  li
    a.right(href="https://ali-dissertation.netlify.com/index") HOMEPAGE
  h1 PP Raman spectra
    .box
      p The monomer unit of PP is characterized by a Carbon-Carbon backbone structure and by the presence of methylene, methyl and methyne functional groups.
      p Its monomer unit is:
      img(src="/static/images/monomerpp.png")
      p The following spectra was obtained using a Thermofisher Raman microscope with a 50x objective and 532 nm laser.
      p The parameters used were 30 exposures, 1 sec exposures, no photobleaching, fluorescence correction. The spectra was processed using the SpectraGryph 1.2 spectroscopy software.
      img(src="/static/images/spectrapp.png")
      p 
        strong Peaks characterization
      table(border="1")
        tbody
          tr
            td(style='text-align: center;' width='151')
              p
                strong Raman shift [1/cm]
            td(style='text-align: center;' width='435')
              p
                strong Characterization
          tr
            td(style='text-align: center;' width='151')
              p 390
            td(style='text-align: center;' width='435')
              p C-C skeletal vibrations
          tr
            td(style='text-align: center;' width='151')
              p 800-1160
            td(style='text-align: center;' width='435')
              p C-C-C skeletal symmetric and asymmetric stretching vibrations
          tr
            td(style='text-align: center;' width='151')
              p 1215
            td(style='text-align: center;' width='435')
              p Methylene twisting bending
          tr
            td(style='text-align: center;' width='151')
              p 1325
            td(style='text-align: center;' width='435')
              p Methylene wagging bending
          tr
            td(style='text-align: center;' width='151')
              p 1355
            td(style='text-align: center;' width='435')
              p Methyl symmetric bending
          tr
            td(style='text-align: center;' width='151')
              p 1430
            td(style='text-align: center;' width='435')
              p Methylene scissoring bending
          tr
            td(style='text-align: center;' width='151')
              p 1455
            td(style='text-align: center;' width='435')
              p Methyl asymmetric bending
          tr
            td(style='text-align: center;' width='151')
              p 2840
            td(style='text-align: center;' width='435')
              p Methyne C-H stretch
          tr
            td(style='text-align: center;' width='151')
              p 2880
            td(style='text-align: center;' width='435')
              p Methylene C-H symmetric and asymmetric stretch stretches
          tr
            td(style='text-align: center;' width='151')
              p 2950
            td(style='text-align: center;' width='435')
              p Methyl symmetric and asymmetric C-H stretches
