extends layout
block content
  li
    a.right(href="https://ali-dissertation.netlify.com/index") HOMEPAGE
  h1 PVC Raman spectra
    .box
      p The monomer unit of PVC is characterized by a Carbon-Carbon backbone structure and by the presence of a methyne and a secondary alkyl halide functional groups.
      p Its monomer unit is:
      img(src="/static/images/monomerpvc.png")
      p The following spectra was obtained using a Thermofisher Raman microscope with a 50x objective and 532 nm laser.
      p The parameters used were 20 exposures, 2 sec exposures, no photobleaching, fluorescence correction. The spectra was processed using the SpectraGryph 1.2 spectroscopy software.
      img(src="/static/images/spectrapvc.png")
      p 
        strong Peaks characterization
      table(border="1")
        tbody
          tr
            td(style='text-align: center;' width='161')
              p
                strong Raman shift [1/cm]
            td(style='text-align: center;' width='425')
              p
                strong Characterization
          tr
            td(style='text-align: center;' width='161')
              p 355
            td(style='text-align: center;' width='425')
              p C-C skeletal vibrations
          tr
            td(style='text-align: center;' width='161')
              p 650
            td(style='text-align: center;' width='425')
              p C-Cl stretching vibration
          tr
            td(style='text-align: center;' width='161')
              p 1050-1170
            td(style='text-align: center;' width='425')
              p C-C-C skeletal symmetric and asymmetric stretching vibrations
          tr
            td(style='text-align: center;' width='161')
              p 1325
            td(style='text-align: center;' width='425')
              p Methylene wagging bending
          tr
            td(style='text-align: center;' width='161')
              p 1425
            td(style='text-align: center;' width='425')
              p Methylene scissoring bending
          tr
            td(style='text-align: center;' width='161')
                 p 2910
            td(style='text-align: center;' width='425')
              p Methylene C-H symmetric and asymmetric stretching
          tr
            td(style='text-align: center;' width='161')
              p 2970
            td(style='text-align: center;' width='425')
              p Methyne C-H stretch
              
       p 
          strong Download links
          
    p     
      .box
        p References:
        p Contacts: alicedigiuse@gmail.com
  li
    a.right(href="https://ali-dissertation.netlify.com/index") HOMEPAGE
    
  
