extends layout
block content
  h1 PVC Raman spectra
    p The monomer unit ofPVC is characterized by a Carbon-Carbon backbone structure and by the presence of a Secondary alkyl halide (-(Cl)CH-)
    p Its monomer unit is:
    p MONOMER PICTURE
    p The following spectra was obtained using a Thermofisher Raman microscope with a 50x objective and 532 nm laser.
    p The parametres used were 20 exposures, 2 sec exposures, no photobleaching, fluorescence correction. The spectra was processed using the SpectraGryph 1.2 spectroscopy software
    P SPECTRA
  h2 Peaks characterization
  script(src="d3.min.js?v=3.2.8")
  script(type="text/javascript", charset="utf-8").
    d3.text("/static/data/PVC.csv", function(data) {
        var parsedCSV = d3.csv.parseRows(data);

        var container = d3.select("body")
            .append("table")

            .selectAll("tr")
                .data(parsedCSV).enter()
                .append("tr")

            .selectAll("td")
                .data(function(d) { return d; }).enter()
                .append("td")
                .text(function(d) { return d; });
    });
